# Configurações do Kong
KONG_DB_USER=kong
KONG_DB_NAME=kong
KONG_DB_PASSWORD=kong

# Configurações do RabbitMQ
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password

# Configurações do Prometheus
PROMETHEUS_RETENTION=15d

# Configurações do Grafana
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SECURITY_ADMIN_USER=admin

# Configurações do Docker Hub (para CI/CD)
DOCKERHUB_USERNAME=seu-usuario
DOCKERHUB_TOKEN=seu-token

# Configurações do Kubernetes
KUBE_CONFIG_STAGING=base64-encoded-kubeconfig
KUBE_CONFIG_PRODUCTION=base64-encoded-kubeconfig
